@using ASPDotNet_Cinema.Enums
@model ASPDotNet_Cinema.Models.ViewModels.HomeIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>@Html.DisplayFor(model => model.Range)'s screenings</h1>
<a asp-action="Index" asp-route-dateRange="@DateRange.Today" class="btn @(Model.Range == DateRange.Today ? "btn-info" : "btn-outline-info")">Today</a>
<a asp-action="Index" asp-route-dateRange="@DateRange.ThisWeek" class="btn @(Model.Range == DateRange.ThisWeek ? "btn-info" : "btn-outline-info")">This week</a>
<a asp-action="Index" asp-route-dateRange="@DateRange.NextWeek" class="btn @(Model.Range == DateRange.NextWeek ? "btn-info" : "btn-outline-info")">Next week</a>
<br />
<br />
@if (Model.Screenings == null || !Model.Screenings.Any())
{
    <h2>No movies found for the selected date range.</h2>
}
else
{
    var screeningWithSum = Model.Screenings.First();
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => screeningWithSum.Screening.Screen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => screeningWithSum.Screening.Movie)
                </th>
                <th>
                    @Html.DisplayNameFor(model => screeningWithSum.Screening.StartTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => screeningWithSum.Screening.EndTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => screeningWithSum.TicketsLeft)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Screenings)
            {
                bool soldout = item.TicketsLeft <= 0;
                <tr class="@(soldout ? "table-danger" : "")">
                    <td>
                        @Html.DisplayFor(modelItem => item.Screening.ScreenId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Screening.Movie.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Screening.StartTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Screening.EndTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketsLeft)
                    </td>
                    <td>
                        @if (soldout)
                        {
                            <span>Sold out!</span>
                        }
                        else
                        {
                            <span>
                                <a asp-controller="Reservations" asp-action="Create" asp-route-screeningid="@item.Screening.Id">Order tickets</a> |
                                <a asp-controller="Movies" asp-action="Details" asp-route-id="@item.Screening.MovieId">Details</a>
                            </span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}